<div class="kkr">
    <br><br><br><br>
<div class="row " style="max-width: 25rem;" class="container" style="background-color: rgb(255, 255, 255);">
    <div class="col"  style="padding: 25px;max-width: 25rem;" >
        <div>
    <h2>Register </h2>
        <form>
            <form>
                <div class="form-group">
                  <label for="registerusername"><b>Username</b></label>
                  <input type="text" 
                  class="form-control btn-outline-primary" style="float: left;"
                  id="registerusername" 
                 placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label for="registerEmail"><b>Email</b></label>
                  <input type="email" 
                  class="form-control btn-outline-primary" 
                  id="registerEmail" 
                  placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="register-Password"><b>Password</b></label>
                    <input type="text" 
                    class="form-control btn-outline-primary" 
                    id="register-Password" 
                   placeholder="Password">
                  </div>
               
                <button type="submit" 
                class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
              </form>
        </form>
    </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
</div>