<div class="srh">
    <br><br><br><br>
<div class="row " style="max-width: 25rem;" class="container" style="background-color: rgb(255, 255, 255);">
    <div class="col"  style="padding: 25px;max-width: 25rem;" >
        <div>
    <h3>Login </h3>
        <form>
            <form>
                <div class="form-group">
                  <label for="loginusername">Username</label>
                  <input type="text" 
                  class="form-control btn-outline-warning" 
                  id="loginusername" 
                 placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label for="LoginPassword">Password</label>
                  <input type="password" 
                  class="form-control btn-outline-warning" 
                  id="LoginPassword" 
                  placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <a [routerLink]="['/reset-password']"> Forgot Password </a>
                </div>
                <button type="submit" class="btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></button>
              </form>
        </form>
    
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
 
