<div class="s">
  <br><br><br>
<div class="row " style="max-width: 25rem;" class="container" style="background-color: rgb(255, 255, 255);">
  <div class="col"  style="padding: 5px;max-width: 25rem;" >
      <div>
<div class=" jolly container ">
    <br><br>
    <form>
    <fieldset>
        <h1>Feedback<span> Form</span></h1>
         First<span> Name : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
         <input type = "text" name ="first name"
         value = "" placeholder="Enter your first name"><br><br>
         Last<span> Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
        <input type = "text" name ="first name"
         value = "" placeholder="Enter your first name"><br>
        <br><label>Email<span> Address :&nbsp;&nbsp;</span> <input type="email" name="email"input type = "text" name ="Email"
          value = "" placeholder="Enter your Email"><br></label><br><br>
        <label for="address">Give a<span> Feedback :&nbsp;&nbsp;</span></label>
        <textarea rows="3" cols="30" name="address" id="address"></textarea><br><br>
        <a href="#" class="btn btn-success" (click)="click()" style="padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);">Submit</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="btn btn-success" style="padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);">Reset</a><br><br>
    </fieldset>
    
</form>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
