<div class="row mb-0" style="box-shadow:7px 7px 7px grey ;">
  <div class="col">
    <div class="content">
        <div class="text-muted ml-3 mb-0" style="font-size: 15px;color: rgb(167, 160, 160);">
            Dashboard > Skills Certification</div>
      <b><h1 class="ml-3 mb-0" style="font-weight: 500;">Get Your Skill Certified</h1></b>
    </div>
  </div>
</div>
<br>


  <div class="container-fluid text-center mb-4">    
    <div class="row content ">
       <div class="col sidenav ml-5" style="max-width: 27rem;padding: 25px;">
            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Angular (Basic)ⓘ</b></a><br><br><br>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                </div>
            </div>
          </div>

          <div class="col sidenav ml-4" style="max-width: 27rem;padding: 25px;">
            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Angular(Intermediate)ⓘ
                </b></a><br><br><br>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                </div>
            </div>
          </div>

          <div class="col sidenav ml-4 mr-5" style="max-width: 27rem;padding: 25px;">
            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>C# (Basic)ⓘ</b></a><br><br><br>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid text-center mb-4">    
        <div class="row content ">
           <div class="col sidenav ml-5" style="max-width: 27rem;padding: 25px;">
                <div class="card" style="box-shadow:5px 5px 5px grey ;">
                    <div class="card-body">
                    <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>JavaScript(Basic)ⓘ</b></a><br><br><br>
                    <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                    </div>
                </div>
              </div>
    
              <div class="col sidenav ml-4" style="max-width: 27rem;padding: 25px;">
                <div class="card" style="box-shadow:5px 5px 5px grey ;">
                    <div class="card-body">
                    <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Node(Basic)ⓘ
                    </b></a><br><br><br>
                    <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                    </div>
                </div>
              </div>
    
              <div class="col sidenav ml-4 mr-5" style="max-width: 27rem;padding: 25px;">
                <div class="card" style="box-shadow:5px 5px 5px grey ;">
                    <div class="card-body">
                    <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>CSS</b></a><br><br><br>
                    <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid text-center mb-4">    
            <div class="row content ">
               <div class="col sidenav ml-5" style="max-width: 27rem;padding: 25px;">
                    <div class="card" style="box-shadow:5px 5px 5px grey ;">
                        <div class="card-body">
                        <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>IOT (Basic)ⓘ</b></a><br><br><br>
                        <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                        </div>
                    </div>
                  </div>
        
                  <div class="col sidenav ml-4" style="max-width: 27rem;padding: 25px;">
                    <div class="card" style="box-shadow:5px 5px 5px grey ;">
                        <div class="card-body">
                        <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Node.js (Intermediate)ⓘ
                        </b></a><br><br><br>
                        <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                        </div>
                    </div>
                  </div>
        
                  <div class="col sidenav ml-4 mr-5" style="max-width: 27rem;padding: 25px;">
                    <div class="card" style="box-shadow:5px 5px 5px grey ;">
                        <div class="card-body">
                        <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Go (Intermediate)</b></a><br><br><br>
                        <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="container-fluid text-center mb-4">    
                <div class="row content ">
                   <div class="col sidenav ml-5" style="max-width: 27rem;padding: 25px;">
                        <div class="card" style="box-shadow:5px 5px 5px grey ;">
                            <div class="card-body">
                            <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Python(Basic)ⓘ</b></a><br><br><br>
                            <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                            </div>
                        </div>
                      </div>
            
                      <div class="col sidenav ml-4" style="max-width: 27rem;padding: 25px;">
                        <div class="card" style="box-shadow:5px 5px 5px grey ;">
                            <div class="card-body">
                            <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>R(Intermediate)ⓘ
                            </b></a><br><br><br>
                            <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                            </div>
                        </div>
                      </div>
            
                      <div class="col sidenav ml-4 mr-5" style="max-width: 27rem;padding: 25px;">
                        <div class="card" style="box-shadow:5px 5px 5px grey ;">
                            <div class="card-body">
                            <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Go (Basic)ⓘ</b></a><br><br><br>
                            <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="container-fluid text-center mb-4">    
                    <div class="row content ">
                       <div class="col sidenav ml-5" style="max-width: 27rem;padding: 25px;">
                            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                                <div class="card-body">
                                <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>R (Basic)ⓘ</b></a><br><br><br>
                                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                                </div>
                            </div>
                          </div>
                
                          <div class="col sidenav ml-4" style="max-width: 27rem;padding: 25px;">
                            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                                <div class="card-body">
                                <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>API (Intermediate)ⓘ
                                </b></a><br><br><br>
                                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                                </div>
                            </div>
                          </div>
                
                          <div class="col sidenav ml-4 mr-5" style="max-width: 27rem;padding: 25px;">
                            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                                <div class="card-body">
                                <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>Java (Basic)ⓘ</b></a><br><br><br>
                                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
   
                      <div class="container-fluid text-center mb-4">    
                        <div class="row content ">
                           <div class="col sidenav ml-5" style="max-width: 27rem;padding: 25px;">
                                <div class="card" style="box-shadow:5px 5px 5px grey ;">
                                    <div class="card-body">
                                    <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>React (Basic)ⓘ</b></a><br><br><br>
                                    <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                                    </div>
                                </div>
                              </div>
                    
                              <div class="col sidenav ml-4" style="max-width: 27rem;padding: 25px;">
                                <div class="card" style="box-shadow:5px 5px 5px grey ;">
                                    <div class="card-body">
                                    <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>SQL (Intermediate)ⓘ
                                    </b></a><br><br><br>
                                    <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                                    </div>
                                </div>
                              </div>
                    
                              <div class="col sidenav ml-4 mr-5" style="max-width: 27rem;padding: 25px;">
                                <div class="card" style="box-shadow:5px 5px 5px grey ;">
                                    <div class="card-body">
                                    <a class="card-title" style="float: left;font-size: 23px;padding-top: 1px;" ><b>JS (Intermediate)ⓘ</b></a><br><br><br>
                                    <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">Get Certified</a>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>




  
  