<div class="row mb-0" style="box-shadow:7px 7px 7px grey ;">
    <div class="col-md-11">
      <div class="content2">
          <div class="text-muted ml-3 mb-1" style="font-size: 15px;color: rgb(167, 160, 160);">
              All Contests</div>
        <b><h2 class="ml-3 mb-0" style="font-weight: 500;">Contests</h2></b>
      </div>
    </div>
  </div>
<br>

<div class="container-fluid mb-0"style="padding-bottom:0%;padding-top:2%">
        <b><h2 class="ml-3 mb-0" style="font-weight: 500;">Active Contests</h2></b>
</div>
<div class="container-fluid text-center">    
    <div class="row content ">
       <div class="col sidenav ml-5" style="max-width: 60rem;padding: 25px;">
            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>ProjectEuler+</b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Open Indefinitely&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="#" >View Details&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">  Sign Up</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Asian Pacific Heritage Coding Challenge
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="#" >View Details&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">  Sign Up</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Hour Rank 23
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;June 2nd, 8:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="#" >View Details&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">  Sign Up</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>University Code Sprint 3
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;August 19th 11:30 am IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="#" >View Details&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">  Sign Up</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>CodeAgon 2021
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;October 11th, 6:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="#" >View Details&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;">  Sign Up</a>
                </div>
            </div>

            

        </div>

        <div class="container-fluid-right ml-5">    
                <div class="col sidenav" style="max-width: 29rem;">
                <div class="mb-2">ADMINISTRATION</div>
                <a class="mb-1" href="#">Create Contest&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br>
                <a href="#">Manage Contest&nbsp;&nbsp;&nbsp;</a><br>
<hr>
                <div class="text-muted" style="text-align:left">FILTER</div> 
                </div>
                
<div class="container">
                <div class="form-check" style="text-align:center;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Functional Programming
                    </label>
                  </div>

                  <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Artificial Intelligence
                    </label>
                  </div>

                  <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Distributed System
                    </label>
                  </div>

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Distributed System
                    </label>
                  </div>

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Data Structures
                    </label>
                  </div>
                  

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Mathematics
                    </label>
                  </div>

                  <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Rated
                    </label>
                  </div>
                  

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Tutorials
                    </label>
                  </div>
                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Databases
                    </label>
                  </div>

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Algorithms
                    </label>
                  </div>
                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Linux Shell
                    </label>
                  </div>

                  
                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      React JS
                    </label>
                  </div>

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      C
                    </label>
                  </div>
                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Regex
                    </label>
                  </div>

                  
                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Ruby
                    </label>
                  </div>

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      C++
                    </label>
                  </div>
                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      SQL
                    </label>
                  </div>

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Java
                    </label>
                  </div>
                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Databases
                    </label>
                  </div>

                   <div class="form-check" style="text-align:left;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Python
                    </label>
                  </div>
                  
                </div>
        </div>
    </div>
</div>
  

            <div class="container-fluid mb-0"style="padding-bottom:0%;padding-top:2%">
                <b><h2 class="ml-3 mb-0" style="font-weight: 500;">Archived Contests</h2></b>
              </div>

<div class="container-fluid text-center">    
    <div class="row content ">
       <div class="col sidenav ml-5" style="max-width: 60rem; padding: 25px;">
            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Celebrate Neurodiversity Coding Contest 2021
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>International Women's Day Coding Contest 2021
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Black History Month Coding Contest 2021
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Hack For A Cause 2020
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Hack the Interview VII (U.S.)
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Hack the Interview VI (U.S.)
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>HackerRank HackFest 2020
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Hack the Interview VI (Asia Pacific)
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Hack the Interview V (Asia Pacific)
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>

            <div class="card" style="box-shadow:5px 5px 5px grey ;">
                <div class="card-body">
                <a class="card-title" style="float: left;font-size: large;padding-top: 1px;" ><b>Hack the Interview V (U.S.)
                </b></a>
                <a class="card-text" style="margin-top:auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 17th, 9:30 pm IST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a  class="text-muted" style="font-size: medium;">Ended&nbsp;&nbsp;</a>
                <a href="#" class="btn btn-outline-success" style="float: right;padding-top: 7px;box-shadow: 0 4px 8px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(1, 255, 56, 0.19);;"> View Challenges</a>
                </div>
            </div><br><br>
        </div>
    </div>
    
</div>



